<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

<h1 class="h1">💜amamos a Min yoongi y a todos los BTS 💜</h1>


<form action="" method="post">

  <label for="">usuario</label>
  <input type="text" id="usuario">

  <br><br>

  <label for="">contraseña</label>
  <input type="password" id="contrasenna">

  <br><br>

  <button (click)="login()" >vamo a registrarno :3</button>
  <button (click)="dashboard()" >vamo al dashboard :3</button>

</form>

</body>
</html>

