<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>REGISTRAR</title>

</head>

<body>

  <H1>BIENVENIDO AL FORMULARIO DE REGISTRO</H1>

  <form action="" method="post">

    <label for="text">nombres</label>
    <input type="text" name="" id="">

    <br><br>

    <label for="text">apellidos</label>
    <input type="text" name="" id="">

    <br><br>

    <label for="text">usuario</label>
    <input type="text" name="" id="">

    <br><br>

    <label for="text">contraseña</label>
    <input type="text" name="" id="">

    <br><br>

    <label for="text"> confirmar contraseña</label>
    <input type="text" name="" id="">

    <br><br>

    <input type="button" value="registrar">

  </form>

</body>
